@model OtoServisSatis.Entities.Service

@{
    ViewData["Title"] = "Servis Kaydı Sil";
}

<h1>Servis Kaydı Sil</h1>

<h3>Silmek İstediğine Emin Misin ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceEntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceEntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceExitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceExitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformedOperations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformedOperations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUnderWarranty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUnderWarranty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChassisNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChassisNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
